.editor {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    padding-left: 320px;
    padding-right: 40px;
    overflow: scroll;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 20px;
    font-family: "Menlo", "Monaco", monospace;

    input, textarea {
        max-width: 768px;
        width: 100%;
        display: inline-block;
        margin: 0 auto;
        resize: none;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
    }

    .editor__content, .editor__title {
        font-size: 1em;
        line-height: 1.5em;
        resize: none;
        overflow: hidden;
    }
}
