.editor {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    padding-left: 320px;
    padding-right: 40px;
    overflow: scroll;
    padding-top: 90px;
    padding-bottom: 90px;
    font-size: 20px;
    font-family: "Menlo", "Monaco", monospace;
    line-height: 1.5em;
    
    .editor__content, .editor__title {
        line-height: 1.5em;
        max-width: 768px;
    }

    .editor__content {
        font-size: 1em;
    }
}
