.textarea {
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    textarea, &__mirror {
        margin: 0 auto;
        background-color: transparent;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow: hidden;
        text-align: left;
        display: block;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        max-width: inherit;
        width: 100%;
    }

    textarea {
        resize: none;
        // position: relative;
    }

    &__mirror {
        visibility: hidden;
        position: absolute;
        padding-bottom: 1.5em;

        * {
            position: relative;
            width: 100%;
            color: red;
        }
    }
}
